@charset "UTF-8";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #925208;
  color: #fff;
  height:100%;
}
a{
	color: white;
	text-decoration: none;
}
a:hover{
color:  #925208;
}
a:visited{
color:  #fff;
}
/* Header Section */
.headerSection{
  background: #000;
  overflow: hidden;
  width: 101%;
  border: 0;
  position: relative;
  top:0;
  height: 100px;
  z-index: 0;
  margin-bottom: 50px;
}
.fas{
  text-align: left;
  font-size: 48px;
  z-index: 1;
  margin-left: 1%;
  margin-right: 20px;
}
.title{
  margin-top: 10px;
  text-align: center;
}



.sign-up-button{
 float: right;
 margin-right: 30px;
 margin-top: 20px;
}

.login-button{
 float: right;
  margin-right: 30px;
  margin-top: 20px;
}
.search-button{
  float: right;
   margin-right: 30px;
   margin-top: 20px;
}
 /* On Mobile */
@media screen and (max-width: 995px) {
  .search-button {
    visibility: hidden;
    clear: both;
    display: none;
  }
}



@media screen and (max-width: 600px) {
  .middleDiv {
    visibility: hidden;
    clear: both;
    display: none;
  }
}

.rightDiv{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.headerRow{
	margin-bottom: 5px;
	margin-top: 2px;
}
/* Beer Fizz */

.fizz{
  height: 50px;
  width: 80px;
  border-radius: 200px/100px;
  background-color: white;
  z-index: 2;
  position: absolute;
  top:80px;
  margin-top:8px;

}

.f1{
  left: -10px;
}
.f2{
  left: 60px;
}
.f3{
  left: 120px;
}
.f4{
  left: 180px;
}
.f5{
  left: 240px;
}

.f6{
left: 300px;
}
.f7{
left: 360px;
}

.f8{
left: 420px;
}
.f9{
left: 480px;
}
.f10{
left: 540px;
}
.f11{
left: 600px;
}
.f12{
left: 660px;
}
.f13{
left: 720px;
}
.f14{
left: 780px;
}
.f15{
left: 840px;
}
.f16{
left: 900px;
}
.f17{
left: 960px;
}
.f18{
left: 1020px;
}
.f19{
left: 1080px;
}
.f20{
left: 1140px;
}
.f21{
left: 1200px;
}
.f22{
left: 1260px;
}
.f23{
left: 1320px;
}
.f24{
left: 1380px;
}
.f25{
left: 1440px;
}
.f26{
left: 1500px;
}
.f27{
left: 1560px;
}
.f28{
left: 1620px;
}
.f29{
left: 1680px;
}
.f30{
left: 1740px;
}
.f31{
left: 1800px;
}
.f32{
left: 1860px;
}
.f33{
left: 1920px;
}
.f34{
left: 1980px;
}
.f35{
left: 2020px;
}
.f36{
left: 2080px;
}
.f37{
left: 2140px;
}
.f38{
left: 2200px;
}
.f39{
left: 2260px;
}
.f40{
left: 2320px;
}
.f41{
left: 2380px;
}
.f42{
left: 2400px;
}
.f43{
left: 2460px;
}
.f44{
left: 2520px;
}
.f45{
left: 2580px;
}
.f46{
left: 2640px;
}
.f47{
left: 2700px;
}
.f48{
left: 2760px;
}
/* Main Content */

.splash{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black; 
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
 justify-content: center;
 align-content: center;
 flex-direction: column;
  z-index: 200;
  color: white;
  text-align: center;
  line-height: 90vh;


}

.splashHead{
  z-index: 300;
  color: #FFD700;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
}
iframe{
	z-index: 300;
	width: 50%; 
	height: 50%;
	margin-left: auto;
	margin-right: auto;
	
}
@keyframes fadeIn {
  to{
    opacity: 1;
  }

}
.fade-in{
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
  font-weight: bold;
  font-size: 5rem;

}

.splash.display-none{
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
   background-size: cover;
  display: flex;
 justify-content: center;
 align-content: center;
 flex-direction: column;
  z-index: -10;
  color: white;
  text-align: center;
  line-height: 90vh;
  transition: all 0.5s;
}

.mainContent{
	left: 0;
	top: -10px;
	/* background-color: blue; */
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items:center;
}

.innerContent{
 margin-top: 30px;
  width: 85%;
  height: 100%;
  background-color: black;
  padding: 2%;
  border-radius: 20px;

}

#beerByStateChart{
	color: #fff !important;
}