@charset "UTF-8";
.innerContent{
	text-align: center;
}

.aboutHeader{
	margin-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
}

.infoHeader{
	margin-bottom: 20px;
	margin-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
}

.ozHeader{
	margin-top:20px;
	margin-bottom: 30px;
}
.chartTopRow{
	margin-bottom: 20px;
}
