@charset "UTF-8";

h3 {
	font-style: italic;
}

/* .navigation {
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
} */

.row {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: row;
	
	
}

.col {
	display: flex;
	justify-content: center;
	align-items: center;
	
}

